* {
    box-sizing: border-box;
    
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

a {
    text-decoration:none;
}

img.logo {
    height:auto;
    max-width:5%;  
}

.header {
    background-color:bisque;
    display:flex;
    flex-direction:column;
}

.top-container {
    display:flex;
    justify-content:space-between;
}

.nav {
    display:flex;
    justify-content:flex-end;
    gap:10px;
    align-items:center;
}

.second-container {
    display:flex;
    justify-content:space-between;
    background-color:rgb(143, 57, 100)
}

.website-info {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.header-one {
    font-size:48px;
    font-weight:600px;
}

.button {
}

.flower-tower {
    height:auto;
    max-width:40%;
    border-radius:5%;
}

.header-two {
    font-size: 30px;
    margin: 20px;
    font-weight: 800px;
}

.container-three {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap:25px;
    margin-bottom:50px;
}

.galleria {
    flex-direction:column;
    align-items:center;
    align-content:center;
}

img.gallery {
    height:auto;
    max-width: 300px;
    border-radius:10%;
}

.text {
    border: 1px solid orange;
}

.quote {
    background-color:bisque;
    border-radius:10%;
}

.bottom-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:pink;
    
}
.more {
    
}